@page
@model Pristinerealty.Web.Pages.AboutModel
@{ ViewData["Title"] = "About page"; }


<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->



    <title>About us</title>
</head>
<body>
    <section class="rocket   pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ">
                    <h1>About Rajendra Hospital </h1>
                    <span class="under">
                        <hr>
                    </span>
                    <p>
                        We are engaged in a passionate journey to establish ourselves as the lowest-cost, high-quality healthcare service provider in the world. At Rajendra, we are convinced that ‘quality’ and ‘lowest cost’ are not mutually exclusive when it comes to healthcare delivery. In fact, we are well on our way to demonstrating that we are not running our institutions as just another number-only business, but we are attractively placed to create an affordable, globally-benchmarked quality-driven healthcare services model.
                        Rajendra Hospital at Ashokapuram near the Christian college was inscribed in the history book of Kozhikode ever since 1940. It has begun its services from a car shed when there were only a handful of doctors in the city of Kozhikode. Now, the hospital stands tall and high on the same soil of its emergence at the heart of the city.
                        .
                    </p>
                </div>
            </div>
            <div class="row">
                <h1>History of Rajendra Hospital </h1>
                <div class="col-sm-8 wrapper-italic pt-3">
                    <p>Located in the heart of Calicut city, and one of the oldest hospitals in the region, the hospital was established in 1940 by Late Dr P. Balram. From its early years, the hospital and its doctors focused on providing access to medical care to the common man, placing service to the poor of utmost importance. His sons, Late Dr P. Rajendran, Late Dr P Mohanraj and Late Dr P. Ramesh Kumar continued the tradition. The Hospital always stay as an integral part of Calicut City.</p>
                        </div>
                <div class="col-sm-4 wrapper-old">
                    <img class="dep" src="./img/founder.jpg">
                    <p> <b>
                        “Managing a hospital should not be considered a way to make money”. One should provide scientific and good treatment. Rajendra Hospital should always remain one for the common man”.
                        -Dr P Balram.</b>
</p>
                </div>
                <div class="col-sm-8 wrapper-italic2">
                    <p>While retaining the founder’s core values and remaining true to the original vision of providing high-quality care at affordable rates, the hospital expanded to include many departments and super specialities, with modern facilities. And this has drastically gained the trust of Calicut residents for the last 8 decades.</p></div>
            </div>
        </div>
    </section>
    <section class="portfolio section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Our Doctors</h2>
                        <center>
                            <span class="under">
                                <hr>
                            </span>
                        </center>
                        <p>We have some of the best specialty doctors from arround the world, they bring years of experience and offer evidence based treatment to ensure the best care for you.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="owl-carousel portfolio-slider">
                        <div class="container ">
                            <div class="row mt-10">
                                <div class="box9">
                                    <img src="./img/no.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="wrapper-docname">
                                    <h5>Dr. K. C. Sunil </h5>
                                    <p>MD, DA</p>
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row mt-10">
                                <div class="box9">
                                    <img src="./img/no.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="wrapper-docname">
                                    <h5>Dr. M.C Rethnavally</h5>
                                    <p>MBBS, DA</p>
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row mt-10">
                                <div class="box9">
                                    <img src="./img/no.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="wrapper-docname">
                                    <h5>Dr. Sunny Alex</h5>
                                    <p>MBBS, MD</p>
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row mt-10">
                                <div class="box9">
                                    <img src="./img/no.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="wrapper-docname">
                                    <h5>Dr. C. C. Velayudhan</h5>
                                    <p>MD, DM (Card)</p>
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row mt-10">
                                <div class="box9">
                                    <img src="./img/no.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="wrapper-docname">
                                    <h5>Dr. Arun Gopi</h5>
                                    <p>MBBS. MD,(AIIMS), DNB (MED), DM (PGIMER), DNB(Card), PDF (Electrophysiology)</p>
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row mt-10">
                                <div class="box9">
                                    <img src="./img/no.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="wrapper-docname">
                                    <h5>Dr. Femi Francis</h5>
                                    <p>BDS</p>
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row mt-10">
                                <div class="box9">
                                    <img src="./img/no.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="wrapper-docname">
                                    <h5>Dr. Deepthi Ramakrishnan</h5>
                                    <p>MBBS, DDVL</p>
                                </div>
                            </div>
                        </div>
                        <div class="container ">
                            <div class="row mt-10">
                                <div class="box9">
                                    <img src="./img/no.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="wrapper-docname pt-2">
                                    <h5>Dr. Mohanraj</h5>
                                    <p>BSc, MBBS, DLO</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
</html>