@page
@model Pristinerealty.Web.Pages.AboutModel
@{ ViewData["Title"] = "About page"; }



<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="elementor-divider">
                            <span class="elementor-divider-separator">
                                <img src="img/line.png" width="80">  ABOUT US
                            </span>
                        </div>

                        <h2>
                            Pristine Realty<br> The Highest Quality
                        </h2>
                        <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>

                        <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>

                        @*<button class="viewbuton">More Info  &nbsp; &nbsp; <i class="fa-solid fa-arrow-right"></i></button>*@
                    </div>

                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column ">

                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img src="img/500.jpg"></a></figure>

                </div>
            </div>

        </div>

    </div>
</section>


