@page
@model Pristinerealty.Web.Pages.AnaesthesiaModel
@{ ViewData["Title"] = "Anaesthesia Page"; }
@{ Layout = "_DepartmentLayout"; }
<div class="container wrapper-profile pb-5 pt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>Anaesthesia</h2>
                <center>
                    <span class="under">
                        <hr>
                    </span>
                </center>
                <p>The Department of Anaesthesiology at Rajendra Hospital uses the most advanced, safe and patient-focused techniques in the delivery of anaesthetic care. We have a team of well-experienced expertise who provide optimum quality not just in operation theaters. But also, providing additional care during the early post operative period.</p>
                <h3>Anaesthetics and its Types</h3>
                <p>Anaesthetics reduce or prevent pain during surgical procedures. There are four main types of anaesthetics that are used in the healthcare industry. </p>
                <h4>Local anaesthesia: </h4>
                <p>numbs one small area of the body. You stay conscious throughout the operational procedure.</p>
                <h4>Conscious or intravenous sedation:  </h4>
                <p>It is a mild sedation used to reduce your pain. You stay awake but may not remember the procedure afterwards.</p>
                <h4>Regional anaesthesia: </h4>
                <p>As the name suggests, it is an anaesthsia  used to block pain of certain parts of the body. It is sometimes used during the childbirth.</p>
                <h4>General anaesthesia:  </h4>
                <p>acts on your whole body. You go to sleep and feel nothing. You’ll have no memory of the procedure performed.</p>
            </div>
            <div class="row">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. K. C. Sunil</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MD, DA
                    </p>
                </div>

                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. M.C Rethnavally</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, DA
                    </p>
                </div>







            </div>

            <div class="row pt-5">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Sunny Alex</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, MD
                    </p>
                </div>









            </div>



        </div>


    </div>
</div>