@page
@model Pristinerealty.Web.Pages.CardiologyModel
@{ ViewData["Title"] = "Cardiology Page"; }
@{ Layout = "_DepartmentLayout"; }
<div class="container wrapper-profile pb-5 pt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>Cardiology</h2>
                <center>
                    <span class="under">
                        <hr>
                    </span>
                </center>
                <p>The department of Cardiac Care includes cardiology and cardiac surgery. Our dedicated team of cardiologists and cardiac surgeons are well-known for their expertise, knowledge, and vast experience in their respective areas of heart-related problems.</p>
                <p>We offers a full range of adult and pediatric cardiology and cardiac surgery treatments, to help in the early disease detection and timely treatment of varying heart ailments.</p>
                <p> Rajendra Hospital is home to a few of the best cardiologists and best cardiac surgeons in India who offer quality cardiac care services to domestic as well as international patients.</p>
                <h4>Our Diagnostic Services Include:</h4>
                <ul>
                    <li>●	ECG</li>
                    <li>●	2D Echo</li>
                    <li>●	TMT</li>
                    <li>●	Holter monitoring</li>
                    <li>●	Angiography</li>
                </ul>
                <h4>Cardio-Thoracic and Vascular Surgery:</h4>
                <p> Rajendra Hospital offers the very best cardiac care in terms of safety and design in order to minimize the incidence of infection in an operating area. </p>
                <h4>Operation Theaters Are Well-Equipped With:</h4>
                <ul>
                    <li>●	High-end anaesthesia machine</li>
                    <li>●	8 channel anaesthesia monitor</li>
                    <li>●	Laminar flow with HEPA filters</li>
                    <li>●	Cold ceiling lights</li>
                    <li>●	Heart-lung machine</li>
                    <li>●	CT-ICU furnished with monitors & ventilators</li>
                </ul>

                <h4>Surgical Procedures:</h4>
                <p><b>CABG </b> – Total arterial revascularization/bypass surgery/open heart surgery </p>
                <p><b>CABG beating heart surgery  </b> – grafting is performed without stopping the heart and putting the patient on bypass. It minimizes blood loss and other adverse effects. </p>
                <ul>
                    <li>●	Single valve and double valve replacements</li>
                    <li>●	ASD and VSD surgeries</li>
                    <li>●	Mediastinal tumour excision</li>
                    <li>●	All pediatric congenital heart surgeries including TOF</li>
                    <li>●	Lung surgeries like lobectomy, pneumonectomy etc.</li>
                    <li>●	CT-ICU furnished with monitors & ventilators</li>
                </ul>
                <p> Vascular surgeries: surgery at aneurysm aorta, bypass grafting of peripheral vessels, carotid endarterectomy and injury of vessels. It is done through a small hole (video-assisted thoracoscopy)</p>
            </div>
            <div class="row">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. C. C. Velayudhan</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MD, DM (Card)
                    </p>
                </div>

                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Arun Gopi</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS. MD,(AIIMS), DNB (MED), DM (PGIMER), DNB(Card), PDF (Electrophysiology)
                    </p>
                </div>







            </div>





        </div>


    </div>
</div>