@page
@model Pristinerealty.Web.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}


<section>
    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6">
                <div class="elementor-divider">
                    <span class="elementor-divider-separator">
                        <img src="img/line.png" width="80">  CONTACT US
                    </span>
                </div>
                <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>


                <div class="contactForm">
                    <form class="" method="post"  enctype="multipart/form-data">
                        <div class="inputGroup inputGroup1">
                            <input class="inputGroup__textfield" type="text" name="FirstName" value="" placeholder="FirstName*" required data-value-missing="Please fill out this field.">
                        </div>

                        <div class="inputGroup inputGroup2">
                            <input class="inputGroup__textfield" type="text" name="LastName" value="" placeholder="LastName*" required data-value-missing="Please fill out this field.">
                        </div>

                        <div class="inputGroup inputGroup3">
                            <input class="inputGroup__textfield" type="text" name="Email" value="" placeholder="Email*" required data-value-missing="Please fill out this field.">
                        </div>

                        <div class="inputGroup inputGroup4">
                            <input class="inputGroup__textfield" type="text" name="Number" value="" placeholder="Phone*" required data-value-missing="Please fill out this field.">
                        </div>

                        <div class="inputGroup inputGroup6">
                            <textarea class="inputGroup__textfield" name="Message" rows="8" placeholder="How can we help?*" required data-value-missing="Please fill out this field."></textarea>
                        </div>

                        <div class="inputGroup inputGroup7 mb-5">
                            <button class="btnssss" type="submit" name="button">Send</button>
                        </div>
                    </form>
                </div>

            </div>


        </div>

    </div>
</section>