@page
@model Pristinerealty.Web.Pages.ContactModel
@{
    ViewData["Title"] = "Contact page";
}


<section>
    <div class="container pt-5 pb-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-6">
                <div class="elementor-divider">
                    <span class="elementor-divider-separator">
                        <img src="img/line.png" width="80">  CONTACT US
                    </span>
                </div>
                <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>


                <form>

                    <label>
                        <p class="label-txt">ENTER YOUR NAME</p>
                        <input type="text" class="input">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>

                    <label>
                        <p class="label-txt">ENTER YOUR NUMBER</p>
                        <input type="text" class="input">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>

                    <label>
                        <p class="label-txt">MESSAGE</p>
                        <input type="text" class="input">
                        <div class="line-box">
                            <div class="line"></div>
                        </div>
                    </label>

                    <div class="text-center">
                        <button class="viewbuton">Submit  &nbsp; &nbsp; <i class="fa-solid fa-arrow-right"></i></button>

                    </div>
                </form>

            </div>


        </div>

    </div>
</section>