@page
@model Pristinerealty.Web.Pages.FacilitiesModel
@{ ViewData["Title"] = "Facilities Page"; }

<section class="rocket pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h1>Our Facilities Are</h1>
                <span class="under">
                    <hr>
                </span>
                <p>Provides services for minor surgical procedure like dressing of lacerated wound, suturing of minor lacerations & resuturing.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="how-section1 ">
            <div class="row">
                <div class="col-lg-6 how-img">
                    <img src="./img/408936.jpg" class=" img-fluid" alt="" />
                </div>
                <div class="col-lg-6">
                    <h1>Well Equipped Computerized Medical Lab</h1>
                    <h4 class="subheading">OUR IN-HOUSE LABORATORY FACILITIES</h4>
                    <p class="text-muted">
                        Rajendhra Hospital is exclusively dedicated to the evaluation and management of patients suffering from Rheumatic diseases. Rajendhra Hospital is a fully-computerized state-of-the-art fully automated pathology laboratory, a digital X ray and a fully equipped pharmacy dedicated to fulfilling the needs of patients with chronic and disabling rheumatic diseases.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h1>Digital X Ray</h1>
                    <h4 class="subheading">Digital X-rays Vs. Traditional X-rays</h4>
                    <p class="text-muted">
                        Radiography with X-ray is the starting point for diagnosing or screening of a variety of health issues, including pneumonia. X-ray technology is increasingly easily available to the medical community due to its low cost. It's noninvasive, relatively harmless, and quickly produces the images we need to be able to diagnose issues effectively.
                    </p>
                </div>
                <div class="col-lg-6 how-img">
                    <img src="./img/408935.jpg" class=" img-fluid" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 how-img">
                    <img src="./img/crm.jpg" class=" img-fluid" alt="" />
                </div>
                <div class="col-lg-6">
                    <h1>C-Arm</h1>
                    <h4 class="subheading">C-Arm X-Ray Machines: All You Needed to Know</h4>
                    <p class="text-muted">
                        A C-arm is an imaging scanner intensifier. The name derives from the C-shaped arm used to connect the x-ray source and x-ray detector to one another. C-arms have radiographic capabilities, though they are used primarily for fluoroscopic intraoperative imaging during surgical, orthopedic and emergency care procedures. The devices provide high-resolution X-ray images in real time, thus allowing the physician to monitor progress and immediately make any corrections.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h1>Ultra Sound Scan</h1>
                    <h4 class="subheading">Diagnostic technique</h4>
                    <p class="text-muted">
                        An ultrasound scan, sometimes called a sonogram, is a procedure that uses high-frequency sound waves to create an image of part of the inside of the body. An ultrasound scan can be used to monitor an unborn baby, diagnose a condition, or guide a surgeon during certain procedures.
                    </p>
                </div>
                <div class="col-lg-6 how-img">
                    <img src="./img/4089310.jpg" class=" img-fluid" alt="" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 how-img">
                    <img src="./img/4089311.jpg" class=" img-fluid" alt="" />
                </div>
                <div class="col-lg-6">
                    <h1>Electro Cardio Graph (ECG)</h1>
                    <h4 class="subheading">Heart problems and monitor your heart's health.</h4>
                    <p class="text-muted">
                        Electrocardiograms also called ECGs or EKGs are often done in a doctor's office, a clinic or a hospital room. ECG machines are standard equipment in operating rooms and ambulances. Some personal devices, such as smart watches, offer ECG monitoring. Ask your doctor if this is an option for you.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h1>Echo Cardiogram</h1>
                    <h4 class="subheading">Medical specialty</h4>
                    <p class="text-muted">
                        An echocardiogram checks how your heart's chambers and valves are pumping blood through your heart. An echocardiogram uses electrodes to check your heart rhythm and ultrasound technology to see how blood moves through your heart. An echocardiogram can help your doctor diagnose heart conditions.
                    </p>
                </div>
                <div class="col-lg-6 how-img">
                    <img src="./img/4089312.jpg" class=" img-fluid" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 how-img">
                    <img src="./img/4089313.jpg" class=" img-fluid" alt="" />
                </div>
                <div class="col-lg-6">
                    <h1>Treadmill Test (TMT)</h1>
                    <h4 class="subheading">The exercise stress test involves exercising on a treadmill while you are closely monitored.</h4>
                    <p class="text-muted">
                        A treadmill test (TMT) or cardiac stress test helps determine how far your heart can go before an abnormal rhythm or blood flow to the heart muscle drops. It helps your doctor know how your heart responds on being pushed. You will be asked to walk on a treadmill, and the difficulty level will be gradually increased.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <h1>Well Equipped Modern Labour Rooms</h1>
                    <h4 class="subheading">Modern Well Equipped Operation Theatre and Labour Room</h4>
                    <p class="text-muted">Rajendhra Hospital provides treatment for modern well equipped operation theatre and labour room in wakad, chinchwad, pimple saudagar. We have facility for modern well equipped operation theatre and labour room clinic, modern well equipped operation theatre and labour room doctor, modern well equipped operation theatre and labour room hospital, modern well equipped operation theatre and labour room treatment in wakad, chinchwad, pimple saudagar, modern well equipped operation theatre and labour room clinic/ doctor in wakad, chinchwad, pimple saudagar, modern well equipped operation theatre and labour room in wakad, chinchwad, pimple saudagar
                </div>
                <div class="col-lg-6 how-img">
                    <img src="./img/4089314.jpg" class=" img-fluid" alt="" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 how-img">
                    <img src="./img/4089316.jpg" class=" img-fluid" alt="" />
                </div>
                <div class="col-lg-6">
                    <h1>TWell Equipped 3 table Operation Theaters</h1>
                    <h4 class="subheading">GetLance is a great place to find more clients, and to run and grow your own freelance business.</h4>
                    <p class="text-muted">
                        Freedom to work on ideal projects. On GetLance, you run your own business and choose your own clients and projects. Just complete your profile and we'll highlight ideal jobs. Also search projects, and respond to client invitations.
                        Wide variety and high pay. Clients are now posting jobs in hundreds of skill categories, paying top price for great work.
                        More and more success. The greater the success you have on projects, the more likely you are to get hired by clients that use GetLance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>