@page
@model Pristinerealty.Web.Pages.GeneralMedicineModel
@{ ViewData["Title"] = "GeneralMedicine Page"; }
@{ Layout = "_DepartmentLayout"; }
<div class="container wrapper-profile pb-5 pt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>General Medicine</h2>
                <center>
                    <span class="under">
                        <hr>
                    </span>
                </center>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
            </div>
            <div class="row">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Muralidharan. I</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MD (Gen. Med) DTCD, PGDIP, Diab
                    </p>
                </div>

                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr Mithun</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, MD, PGCD (Diab)
                    </p>
                </div>







            </div>


        </div>


    </div>
</div>