@page
@model Pristinerealty.Web.Pages.GeneralSurgeryModel
@{ ViewData["Title"] = "GeneralSurgery Page"; }
@{ Layout = "_DepartmentLayout"; }
<div class="container wrapper-profile pb-5 pt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>General & Laparoscopic Surgery</h2>
                <center>
                    <span class="under">
                        <hr>
                    </span>
                </center>
                <p>Rajendra Hospital has a full-fledged surgical unit providing all aspects of open and laparoscopic surgical care under one roof. Our operation theatres have state-of-the-art equipment that ensures excellence in patient care. We take utmost precautions to avoid any surgical infection and warrant faster post-operative recovery in our specially designed recovery rooms and intensive care setup.</p>
                <h3>Open Surgical Procedures</h3>
                <p>In such surgeries, the patient may be required a postoperative stay of a minimum of 5-7 days or more depending on the complexity of the procedure.</p>
                <ul>
                    <li>●	Emergency surgery including polytrauma</li>
                    <li>●	Inguinal, incisional and ventral hernia repairs</li>
                    <li>●	Surgeries of the liver and gallbladder</li>
                    <li>●	Oesophageal resections and reconstruction</li>
                    <li>●	Gastric (stomach) surgery</li>
                    <li>●	Surgeries on the small and large intestine</li>
                    <li>●	Splenectomy (spleen removal)</li>
                    <li>●	Anorectal conditionsa</li>
                    <li>●	Pancreatic surgery</li>
                    <li>●	Varicose veins of the lower limb</li>
                    <li>●	Thyroid surgeries</li>
                    <li>●	Parathyroid surgeries</li>
                    <li>●	Breast surgeries</li>
                    <li>●	Gastroenterology</li>
                    <li>●	It is a medical study which deals with digestive system and its disorders.</li>
                </ul>
</div>
            <div class="row">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Madavan Nambiar</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, MS
                    </p>
                </div>

                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. P. R. Rajeevan</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, MS, FMAS
                    </p>
                </div>







            </div>

            <div class="row pt-5">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Denny Joseph</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, DNB (Gen Sur)
                    </p>
                </div>



                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Joji Maliyekkal</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, MS
                    </p>
                </div>









            </div>



        </div>


    </div>
</div>