@page
@model Pristinerealty.Web.Pages.GynecologyAndObstetricsModel
@{ ViewData["Title"] = "GynecologyAndObstetrics Page"; }
@{ Layout = "_DepartmentLayout"; }
<div class="container wrapper-profile pb-5 pt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>Gynecology & Obstetrics</h2>
                <center>
                    <span class="under">
                        <hr>
                    </span>
                </center>
                <p>Rajendra Hospital has a full-fledged ‘Women’s Health Unit’ that caters to all the healthcare needs of women. The centre will attend to the needs of women of all ages including adolescence, and reproductive years, and to the problems of older women as well.</p>
                <h3>Gynecology & Obstetrics</h3>
                <p>At Rajendra Hospital, we aim to deliver high quality, family-centred birth experiences. Our team of obstetricians and gynaecologists (also read as gynaecologists) is highly skilled and experienced when it comes to treatments related to obstetrics & gynaecology.</p>
                <p>All our operation theatres are well equipped with life-saving and emergency equipment to ensure that you are always in good hands and that we leave nothing to chance when it comes to these vital procedures. Our operation theatres near the labour rooms make access to a caesarean surgery easy.</p>
                <p>In other words, Rajendra Hospital offers medical expertise and specialized care to women in a comfortable, home-like setting with all the warmth that is unique.</p>
            </div>
            <div class="row">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Sheela Noone</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, DRCOG
                    </p>
                </div>

                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Vijayaram Rajendran</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, DGO
                    </p>
                </div>







            </div>

            <div class="row pt-5">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr Sindhu Narayanan Kutty</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, DGO
                    </p>
                </div>


                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Remya</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, MS (Obs & Gynec)
                    </p>
                </div>






            </div>



        </div>


    </div>
</div>
