@page
@model IndexModel
@{ ViewData["Title"] = "Home page";
    Layout = "_Layout";}




   <section class="schedule">
      <div class="container">
        <div class="schedule-inner">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-12 ">
              <div class="single-schedule first">
                  <div class="inner">
                      <div class="icon">
                      </div>
                      <h4>Echo Cardiogram</h4>
                      <p>

                          An echocardiogram checks how your heart's chambers and valves are pumping blood through your heart.
                      </p>
                      <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>

                     
                  </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
              <div class="single-schedule middle">
                  <div class="inner">
                      <div class="icon">
                      </div>
                      <h4>Treadmill Test (TMT)</h4>
                      <p>A treadmill test (TMT) or cardiac stress test helps determine how far your heart can go before an abnormal </p>
                      <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                  </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <div class="single-schedule last">
                  <div class="inner">
                      <div class="icon">
                      </div>
                      <h4>Ultra Sound Scan</h4>
                      <p>An ultrasound scan, sometimes called a sonogram, is a procedure that uses high-frequency sound waves to create an .</p>
                      <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="why-choose section" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>We Offer Different Services To Improve Your Health</h2>
              <center>
                <span class="under">
                  <hr>
                </span>
              </center>
              <p>We Provide Medical Services That You Can Trust!</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="choose-left">
                    <h3>Who We Are</h3>
                    <p>Located in the heart of Calicut city, and one of the oldest hospitals in the region, the hospital was established in 1940 by Late Dr. P. Balram. From it's early years, the hospital and it's doctors focused on providing access to medical care to the common man, placing service to the poor of utmost importance. His sons, Late Dr. P. Rajendran, Late Dr. P Mohanraj and Late Dr. P. Ramesh Kumar continued the tradition. The hospital is an integral part of the history of Calicut. </p>
                    <p>Managing a hospital should not be considered as a way to make money. One should provide scientific and good treatment. This hospital should always remain one for the common man-.Dr. P. Balram.</p>
                    <hr class="under-color">
                    <p>While retaining the founder's core values and remaining true to the original vision of providing high quality care at affordable rates, the hospital expanded to include many departments and super specialities, with modern facilities. This has enabled the hospital to maintain the trust of the residents of Calicut for over eight decades. </p>
                    <p>We Provide Medical Services That You Can Trust!</p>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="choose-right">
                    <div class="video-image">
                        <div class="promo-video">
                            <!--  -->
                        </div>
                        @*<a href="https://www.youtube.com/watch?v=fFDeMN1V4pM" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>*@                        
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <div class="jumbotron parallax" id="parallax-static">
      <h1 class="display-3">Do you need Emergency Medical Care? Call : 0495 2766 214  / 0495 2766 302
      </h1>
      <p class="lead">Located in the heart of Calicut city, and one of the oldest hospitals in the region, the hospital was established in 1940</p>
      <center>
        <div class="button">
          <a asp-area=""   asp-page="/Index" asp-fragment="appointment" class="btn" style="color: #fff;">Get Appointment</a>
          <a asp-area="" asp-page="/Facilities" class="btn primary" style="color: #fff;">Learn More</a>
        </div>
      </center>
      </p>
    </div>
    <section class="portfolio section" >
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>We Maintain Cleanliness Rules Inside Our Hospital</h2>
              <center>
                <span class="under">
                  <hr>
                </span>
              </center>
              <p>One of the key dimensions of Quality of Care is cleanliness of health facilities. One of the key indicators of patient's satisfaction relates to her/his perception of cleanliness in rajendhra hospital facilities..</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="owl-carousel portfolio-slider">
              <div class="container ">
                <div class="row mt-10">
                  <div class="box9">
                    <img src="./img/pf1.jpg">
                    <div class="box-content">
                        <p>Maintaining cleanliness in a health care facility differs from the conventional cleaning.</p>
                        <h3 class="title">Text</h3>
                        <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="row mt-10">
                  <div class="box9">
                    <img src="./img/pf2.jpg">
                    <div class="box-content">
                        <p>Maintaining cleanliness in a health care facility differs from the conventional cleaning.</p>
                        <h3 class="title">Text</h3>
                        <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="row mt-10">
                  <div class="box9">
                    <img src="./img/pf3.jpg">
                    <div class="box-content">
                        <p>Maintaining cleanliness in a health care facility differs from the conventional cleaning.</p>
                        <h3 class="title">Text</h3>
                        <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="row mt-10">
                  <div class="box9">
                    <img src="./img/pf4.jpg">
                    <div class="box-content">
                        <p>Maintaining cleanliness in a health care facility differs from the conventional cleaning.</p>
                        <h3 class="title">Text</h3>
                        <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="row mt-10">
                  <div class="box9">
                    <img src="./img/pf3.jpg">
                    <div class="box-content">
                        <p>Maintaining cleanliness in a health care facility differs from the conventional cleaning.</p>
                        <h3 class="title">Text</h3>
                        <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="row mt-10">
                  <div class="box9">
                    <img src="./img/pf4.jpg">
                    <div class="box-content">
                        <p>Maintaining cleanliness in a health care facility differs from the conventional cleaning.</p>
                        <h3 class="title">Text</h3>
                        <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="row mt-10">
                  <div class="box9">
                    <img src="./img/pf1.jpg">
                    <div class="box-content">
                        <p>Maintaining cleanliness in a health care facility differs from the conventional cleaning.</p>
                        <h3 class="title">Text</h3>
                        <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container ">
                <div class="row mt-10">
                  <div class="box9">
                    <img src="./img/pf3.jpg">
                    <div class="box-content">
                        <p>Maintaining cleanliness in a health care facility differs from the conventional cleaning.</p>
                        <h3 class="title">Text</h3>
                        <a asp-area="" asp-page="/Facilities" class="btn primary">Learn More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="services section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>We Offer Different Services To Improve Your Health</h2>
              <center>
                <span class="under">
                  <hr>
                </span>
              </center>
              <p>There is increasing global awareness that good quality care is key to keeping mothers and babies alive and well. </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-service">
              <i class="icofont icofont-prescription"></i>
              <h4><a asp-page ="/Services">General Treatment</a></h4>
              <p>A general medicine practitioner, commonly referred to as a GP, is a medical doctor who specializes in many diseases affecting the body, whose primary treatment does not involve surgery. General practitioners are trained to provide care for patients of all ages </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-service">
              <i class="icofont icofont-tooth"></i>
              <h4><a asp-page ="/Services">Teeth Whitening</a></h4>
              <p>Best Overall Teeth Whitener: Crest 3D Whitestrips Professional Effects Teeth Whitening Strips Kit. Best Teeth Whitening Toothpaste: Colgate Optic White Renewal Teeth Whitening Toothpaste. Best Teeth Whitening Kit with Light: Sonic Go Smile Blue Smart Brush Whitening Kit.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-service">
              <i class="icofont icofont-heart-alt"></i>
              <h4><a asp-page ="/Services">Heart Surgery</a></h4>
              <p>Open-heart surgery (also called traditional heart surgery) is when the surgeon cuts the chest open to reach the heart. Because it's difficult to operate on a beating heart, medicines are used to stop the heart. A heart-lung bypass machine keeps oxygen-rich blood pumping through the body during the surgery. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-service">
              <i class="icofont icofont-listening"></i>
              <h4><a asp-page ="/Services">Ear Treatment</a></h4>
              <p>Apply a warm cloth to the affected ear.Take over-the-counter (OTC) pain medication such as ibuprofen (Advil) or acetaminophen (Tylenol).Use OTC or prescription ear drops to relieve pain.Take OTC decongestants like pseudoephedrine (Sudafed).Avoid sleeping on the affected ear. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-service">
              <i class="icofont icofont-eye-alt"></i>
              <h4><a asp-page ="/Services">Vision Problems</a></h4>
              <p>Most people who start needing glasses or contacts while they're young have at least one of three common vision problems: myopia, hyperopia, and astigmatism. These are all refractive errors, which means they're problems with the way the eyes focus light, rather than an eye disease. </p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12">
            <div class="single-service">
              <i class="icofont icofont-blood"></i>
              <h4><a asp-page ="/Services">Blood Transfusion</a></h4>
              <p>Blood transfusion is the process of transferring blood products into one's circulation intravenously. Transfusions are used for various medical conditions to replace lost components of the blood</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="section-title">
                  <h2>Home Services</h2>
                  <center>
                      <span class="under">
                          <hr>
                      </span>
                  </center>
                  <p>Hospital at home provides intensive hospital level care for acute conditions that would normally require an acute hospital bed, in a patient's home for a short episode through multidisciplinary healthcare teams.</p>
                  <a asp-area="" asp-page="/Services" class="btn primary">Learn More</a>
              </div>
          </div>
        </div>
        <div class="row strack">
            <div class="col-lg-4 pt-3 pb-3">
                <img src="./img/pf4.jpg">
                <p>Hospital at home provides intensive hospital level care for acute conditions that would normally require an acute hospital bed, in a patient's home for a short episode through multidisciplinary healthcare teams.</p>
                <a asp-area="" asp-page="/Services" class="btn primary">Learn More</a>
            </div>
            <div class="col-lg-4 pt-3 pb-3">
                <img src="./img/pf1.jpg">
                <p>Hospital at home provides intensive hospital level care for acute conditions that would normally require an acute hospital bed, in a patient's home for a short episode through multidisciplinary healthcare teams.</p>
                <a asp-area="" asp-page="/Services" class="btn primary">Learn More</a>
            </div>
            <div class="col-lg-4 pt-3 pb-3">
                <img src="./img/pf3.jpg">
                <p>Hospital at home provides intensive hospital level care for acute conditions that would normally require an acute hospital bed, in a patient's home for a short episode through multidisciplinary healthcare teams.</p>
                <a asp-area="" asp-page="/Services" class="btn primary">Learn More</a>
            </div>
        </div>
      </div>
    </section>
    <section class="blog section" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <div class="section-title">
              <h2>Keep up with Our Most Recent Medical News.</h2>
              <center>
                <span class="under">
                  <hr>
                </span>
              </center>
              <p>Your one-stop resource for medical news, clinical reference</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12">
            <div class="single-pf">
              <img  src="img/nuclear-medicine-1.jpg">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12">
            <h2>Keep up with Our Most Recent Medical News.</h2>
            <center>
              <span class="under">
                <hr>
              </span>
            </center>
            <p>Nuclear medicine is a medical specialty involving the application of radioactive substances in the diagnosis and treatment of disease. Nuclear medicine imaging, in a sense, is "radiology done inside out" or "endoradiology" because it records radiation emitting from within the body rather than radiation that is generated by external sources like X-rays. In addition, nuclear medicine scans differ from radiology, as the emphasis is not on imaging anatomy, but on the function.
            </p>
            <div class="hit">
              <center>
                <span >
                  <hr class="under-color">
                </span>
              </center>
            </div>
            <p>For such reason, it is called a physiological imaging modality. Single photon emission computed tomography (SPECT) and positron emission tomography (PET) scans are the two most common imaging modalities in nuclear medicine.[1]
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="appointment">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="section-title">
              <h2>We Are Always Ready to Help You. Book An Appointment</h2>
              <center>
                <span class="under">
                  <hr>
                </span>
              </center>
              <p>We provide the best medical treatement</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <form method="post" class="form">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input type="text" name="Name" id="Name" data-rule="required" placeholder="Your Name"  required="required"/>
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input type="email"  name="Email" id="Email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input type="text"  name="Number" id="Number" data-rule="required" placeholder="Number"  required="required" />
                                <div class="validate"></div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <input type="text"  name="Address" id="Address" data-rule="required" placeholder="Address"   required="required"/>
                                <div class="validate"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="form-group">
                                <textarea name="Message" id = "Message" data-rule="required" data-msg=" Please write something for us"  required="required" placeholder=" Message"></textarea>
                                <div class="validate"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-8 col-12">
                            <div class="form-group">
                                <div class="button">
                                   <button type="submit" class="btn" asp-page-handler="Post">Book An Appointment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </section>
