@page
@model IndexModel
@{ ViewData["Title"] = "Home page";
    Layout = "_Layout";}




<section>
    <div class="container wrapper-second pt-4 pb-1">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="elementor-divider">
                    <span class="elementor-divider-separator">
                        <img src="img/line.png" width="80">   WHAT WE DO
                    </span>
                </div>

                <h2>
                    Mondrian Provides<br> The Highest Quality
                </h2>
                <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>

                <button class="viewbuton"  asp-area="" asp-page="/Services">View Services  &nbsp; &nbsp; <i class="fa-solid fa-arrow-right"></i></button>

            </div>

            <div class="col-lg-3 col-md-12 col-sm-6 wrapper-firstimg">
                <figure class="snip1527">
                    <div class="image"><img src="img/500.jpg" alt="pr-sample23" /></div>
                    <figcaption>

                        <h3 class="wrappid">FIT OUT</h3>

                    </figcaption>
                    <a href="#"></a>
                </figure>

            </div>
            <div class="col-lg-3 col-md-12 col-sm-6 wrapper-firstimg">

                <figure class="snip1527">
                    <div class="image"><img src="img/600.jpg" alt="pr-sample23" /></div>
                    <figcaption>

                        <h3 class="wrappid">Interior</h3>

                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>

            <div class="col-lg-3 col-md-12 col-sm-6 wrapper-firstimg">

                <figure class="snip1527">
                    <div class="image"><img src="img/700.jpg" alt="pr-sample23" /></div>
                    <figcaption>

                        <h3 class="wrappid">Furnishing</h3>

                    </figcaption>
                    <a href="#"></a>
                </figure>
            </div>



        </div>

    </div>
</section>


<section class="pt-4 ">
    <div class="jumbotron parallax" id="parallax-static">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 wrapper-para  ">
                    <h4>We are expressing our dedication and sustainability-based interior design approach through various services devoted to making uplifting spaces.</h4>
                    <p><img src="img/line.png" width="80"> UNIQUE PERSPECTIVE</p>

                </div>


                <div class="col-lg-6 col-md-12 col-sm-12 wrapper-para  ">
                    <p>Mondrian Interiors, a prominent interior design firm in Dubai, United Arab Emirates, has been revolutionizing the field of interior design and is renowned for delivering modern, culturally significant, and unique experiences. </p>

                    <p>We are flexible and innovative factors thanks to our wide variety of design services and entrepreneurial approach to design provided by the minds of highly skilled architects and designers.</p>

                </div>
            </div>

        </div>
    </div>
</section>



<section>
    <div class="container pt-5 pb-5">
        <div class="row">
            <div style="min-width: 50%;" class="col-md-6 col-sm-6 col-xs-12 wrapper-text">
                <img src="img/line.png" width="80">
                We provide high-end solutions</span>
                <h2 class="pt-2">We walk carefully every step of the way as we <br>keep in touch around the clock</h2>
                <br>
                <p>Let’s make a friendly meeting! We’ll find out your intentions for the location, your lifestyle, and your preferences. You will get to know us more, learning about our process, timing, costing, and what to expect from the team.</p><br>  <button class="viewbuton"  asp-area="" asp-page="/Services">View Services  &nbsp; &nbsp; <i class="fa-solid fa-arrow-right"></i></button><hr style="border: none; height: 1px;">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <img width="100%" style="margin-right: 40px;" src="img/chairs-2181947_960_720.jpg">
                <p style="padding-top: 5px; font-size: 11px; color: #00000059;"> </p>
            </div>

        </div>
    </div>
</section>






<section class=" ">
    <div class="jumbotron parallax" id="parallax-static">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 wrapper-para pt-5 pb-5">

                    <p><img src="img/line.png" width="80"> Let’s Create Art</p>
                    <h4>
                        Let’s Create Art
                        Let us use every corner in your location to build artistic designs.
                    </h4>


                </div>


                <div class="col-lg-6 col-md-12 col-sm-12 wrapper-para pt-5 pb-5">
                    <p>Mondrian's journey so far has remarkable achievements that are consistent with our expansion aspirations. </p>

                    <p>We have reached important milestones through the effective completion of large projects around the UAE.</p>

                </div>
            </div>

        </div>
    </div>
</section>


<section>
    <div class="container-fluid">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item">

                    </div>
                    <div class="item">
                        <img src="img/2006.jpg">
                    </div>
                    <div class="item">
                        <img src="img/2007.jpg">
                    </div>

                    <div class="item">
                        <img src="img/200.jpg">
                    </div>
                    <div class="item">
                        <img src="img/2008.jpg">
                    </div>
                    <div class="item">
                        <img src="img/600.jpg">
                    </div>
                    <div class="item">
                        <img src="img/2000.jpg">
                    </div>

                    <div class="item">
                        <img src="img/2001.jpg">
                    </div>

                    <div class="item">
                        <img src="img/700.jpg">
                    </div>

                    <div class="item">
                        <img src="img/2002.jpg">
                    </div>


                    <div class="item">
                        <img src="img/2003.jpg">
                    </div>

                    <div class="item">
                        <img src="img/2004.jpg">
                    </div>

                    <div class="item">
                        <img src="img/2005.jpg">
                    </div>

                </div>
                <button class="btnzzzz leftLst"><</button>
                <button class="btnzzzz rightLst">></button>
            </div>

        </div>

    </div>
</section>


<section>
    <div class="third-wrap pt-5 pb-5">
        <div class="fourth-div">
            <p class="body-text">
                <span class="line-separator"></span>
                <span class="line-separator"></span>
            </p>
        </div>
        <div class="fifth-div">
            <div class="contactForm">
                <form action="">
                    <div class="inputGroup inputGroup1">
                        <input class="inputGroup__textfield" type="text" name="" value="" placeholder="Firstname*" required data-value-missing="Please fill out this field.">
                    </div>

                    <div class="inputGroup inputGroup2">
                        <input class="inputGroup__textfield" type="text" name="" value="" placeholder="Lastname*" required data-value-missing="Please fill out this field.">
                    </div>

                    <div class="inputGroup inputGroup3">
                        <input class="inputGroup__textfield" type="text" name="" value="" placeholder="Email*" required data-value-missing="Please fill out this field.">
                    </div>

                    <div class="inputGroup inputGroup4">
                        <input class="inputGroup__textfield" type="text" name="" value="" placeholder="Phone*" required data-value-missing="Please fill out this field.">
                    </div>



                    <div class="inputGroup inputGroup6">
                        <textarea class="inputGroup__textfield" name="name" rows="8" placeholder="How can we help?*" required data-value-missing="Please fill out this field."></textarea>
                    </div>

                    <div class="inputGroup inputGroup7 mb-5">
                        <button class="btnssss" type="submit" name="button">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container-fluid">
        <div class="row">
            <button class="btn3">Get a free quote for your project. Click here. <i class="fa-solid fa-angles-right"></i></button>

        </div>

    </div>
</section>
