@page
@model Pristinerealty.Web.Pages.LoginModel

@{
    Layout = "";
    ViewData["Title"] = "Login page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login Form</title>
    <link href="~/Admin/style1.css" rel="stylesheet" />
</head>
<body>
    <center><img class="img-logo" src="img/logo.jpeg"></center>
    <br/>
    <div class="login">
        <form method="post">
            <label>

                <p class="usertext">Username </p>
                </b>
            </label>
            <input type="text"  name="UserName" id="Uname">
            <br>
            <label>
                <b>
                    <p class="usertext">Password </p>
                </b>
            </label>
            <input type="password"  name="Password" id="Pass">
            <br><br>
                <button type="submit" value="Login" class="button" asp-page-handler="Login">Login</button>
                    <br><br>
                    <div class="check">
                        <input type="checkbox">Remember Me
                    </div>
</form>
    </div>
</body>
</html>


