@page
@model Pristinerealty.Web.Pages.mailModel
@{
}
<section class="rocket   pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h1>Mail us </h1>
                <span class="under">
                    <hr>
                </span>
                <p>Located in the heart of Calicut city, and one of the oldest hospitals in the region, the hospital was established in 1940 by Late Dr. P. Balram. From it's early years, the hospital and it's doctors focused on providing access to medical care to the common man, placing service to the poor of utmost importance. His sons, Late Dr. P. Rajendran, Late Dr. P Mohanraj and Late Dr. P. Ramesh Kumar continued the tradition. The hospital is an integral part of the history of Calicut.</p>
            </div>
        </div>
    </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul id="accordion" class="accordion">
                    <li>
                        <div class="link"><i class="fa-solid fa-circle-envelope"></i>Mail Id<i class="fa fa-chevron-down"></i></div>
                        <ul class="submenu">
                            <li><a href="#">info@NuclearMedicine</a></li>
                        </ul>
                    </li>
                    </li>
                </ul>
            </div>
        </div>
        <p>Our experience as clinicians and in-hospital technologists means we understand the pressures providers and staff face like no other. Our proven,service desk team can help you address the volume and scope your facilities need - quickly, accurately, and consistently. We rapidly respond to issues, including resolving recurring incidents with a  focus on enabling providers to care for patients efficiently.</p>
    </div>
</section>