@page
@model Pristinerealty.Web.Pages.OrthopaedicsModel
@{ ViewData["Title"] = "Orthopaedics Page"; }
@{ Layout = "_DepartmentLayout"; }
<div class="container wrapper-profile pb-5 pt-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="section-title">
                <h2>Orthopaedic</h2>
                <center>
                    <span class="under">
                        <hr>
                    </span>
                </center>
                <p>The orthopaedic department at Rajendra Hospital has a combination of highly experienced and skilled orthopaedic surgeons and spine specialists who use advanced technology and equipment to deliver quality medical care.</p>
                <h3>Services at Rajendra Hospital :</h3>
                <p>The orthopaedic department’s unique working methodology is an amalgamation of experience, expertise, observation, knowledge, and wisdom, with a combination of evidence derived from medical literature. </p>
                <p>There are 3 dedicated operation theatres having laminar flow ventilation technology which provide world-class orthopaedic services equipped with high precision equipment, image-guided spine surgery, computer navigated joint replacement surgery, and orthopaedic and spine deformity correction surgery with cell saver and minimally invasive endoscopic surgery.</p>
                <h3>What Is Orthopedics?</h3>
                <p>Orthopaedics is the study of the musculoskeletal system. Orthopaedic doctors specialize in the diagnosis and treatment of problems in the musculoskeletal system which include:</p>
                <ul>

                    <li>●	Bones</li>
                    <li>●	Joints</li>
                    <li>●	Ligaments</li>
                    <li>●	Tendons</li>
                    <li>●	Muscles</li>
                    <li>●	Nerves</li>
                </ul>
</div>
            <div class="row">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Dinesh Sankar</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        BSc, MBBS, MS (ortho)
                    </p>
                </div>

                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. V. K. Rajan</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, MS Ortho, D Ortho
                    </p>
                </div>







            </div>

            <div class="row pt-5">
                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Sreejith</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, D. Orth, MS Orth
                    </p>
                </div>


                <div class="col-md-3 img">
                    <img src="img/no.png" alt="" class="img-rounded" width="100%">
                </div>
                <div class="col-md-3 details">
                    <blockquote>
                        <h5>Dr. Sajan Mohanraj</h5>
                        <small><cite title="Source Title">Demo address <i class="icon-map-marker"></i></cite></small>
                    </blockquote>
                    <p>
                        <br>
                        MBBS, D Ortho
                    </p>
                </div>






            </div>



        </div>


    </div>
</div>