@page
@model Pristinerealty.Web.Pages.ProjectModel
@{ ViewData["Title"] = "Projects Page"; }


<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="elementor-divider">
                    <span class="elementor-divider-separator">
                        <img src="img/line.png" width="80">   OUR PROJECTS
                    </span>
                </div>

                <h2>
                    Pristine Realty<br> The Highest Quality
                </h2>
                <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>

                <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>

                @*<button class="viewbuton">More Info  &nbsp; &nbsp; <i class="fa-solid fa-arrow-right"></i></button>*@

            </div>

            <div class="col-md-4 pt-3">
                <img src="img/pro-1.jpg" width="100%">

            </div>

            <div class="col-md-4 pt-3">
                <img src="img/pro-2.jpg" width="100%">

            </div>

        </div>

    </div>
</section>



<section>
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-4 wrapper-project">
                <img src="img/600.jpg?hmac=YUVQvWb_AFQBjRRoPhOjfPqw2kdeEgglmWAD-U39--o" alt="Image">
                <div class="caption">
                    <h1 class="pb-3">Luxury</h1>
                    <button class="viewbuton" asp-area="" asp-page="/Contact">Connect With Us  &nbsp; &nbsp; <i class="fa-solid fa-arrow-right"></i></button>
                </div>

            </div>


            <div class="col-lg-4 wrapper-project">
                <img src="img/appart.jpg?hmac=YUVQvWb_AFQBjRRoPhOjfPqw2kdeEgglmWAD-U39--o" alt="Image">
                <div class="caption">
                    <h1 class="pb-3">Appartments</h1>
                    <button class="viewbuton"  asp-area="" asp-page="/Contact">Connect With Us  &nbsp; &nbsp; <i class="fa-solid fa-arrow-right"></i></button>
                </div>

            </div>


            <div class="col-lg-4 wrapper-project">
                <img src="img/villas.jpg?hmac=YUVQvWb_AFQBjRRoPhOjfPqw2kdeEgglmWAD-U39--o" alt="Image">
                <div class="caption">
                    <h1 class="pb-3">villas</h1>
                    <button class="viewbuton"  asp-area="" asp-page="/Contact">Connect With Us  &nbsp; &nbsp; <i class="fa-solid fa-arrow-right"></i></button>
                </div>

            </div>



        </div>

    </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <p>A creative decoration works company based in Dubai, UAE, offering bespoke, luxurious interiors, and exquisite furnishings that are timeless in quality including private houses, and prestigious hotels, with all their internal and external furnishings.</p>

        </div>

    </div>
</section>
