@page
@model Pristinerealty.Web.Pages.ServicesModel
@{ ViewData["Title"] = "Services"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Uchen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Services</title>
</head>
<body>


    <header>
        <!-- header top area start -->
        <!-- header top area end -->
        <!-- ....................service -->

        <section class="rocket pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 ">
                        <h1>Services</h1>
                        <span class="under">
                            <hr>
                        </span>
                        <p>Better Treatment.</p>
                    </div>
                </div>
                @*<p style="font-size: 28px;"><b> Robotic cardiac surgery</b></p>

        <p>
            Robotic cardiac surgery is heart surgery performed through very small cuts, of only 2 cm, in the chest. With the use of tiny instruments and robotically controlled tools, surgeons are able to perform heart surgery in a way that is far less invasive than open-heart surgery, or even minimally invasive surgery. Robotic surgery can be performed for a number of different heart-related procedures; including valve surgery, coronary artery bypass surgery, repairing holes in the heart, and tumour removal. This surgical technique requires years of training and practice and is currently performed by
            only a handful of surgeons in the world. Dr Baburaj specialises in Robotic Cardiac surgery, performing them routinely with excellent outcomes.

        </p>
        <p><b>BENEFITS</b></p>
        <p><b>●	The use of arterial conduits increases the durability of the bypass grafts</b></p>
        <p><b>●	Least trauma, pain, and wound infection risk</b></p>
        <p><b>●	Negligible blood loss</b></p>
        <p><b>●	Extremely Short hospital stay – 48-72 hours average</b></p>
        <p><b>●	Very quick recovery to normal activity – 2 weeks average</b></p>*@

                <p style="font-size: 28px;"><b> Minimally Invasive – CABG Surgery</b></p>

                <p>
                    Minimally Invasive Cardiac Surgery (MICS) CABG, is performed through small cuts between the ribs. Unlike traditional open-heart surgery, MICS – CABG avoids splitting the central chest bone (sternotomy) and is performed on the beating heart without using a Heart-Lung machine to stop the heart. MICS – CABG requires a high level of skill and training, hence is performed by very few surgeons in the country.
                </p>

                <p><b>How is it performed?</b></p>

                <p>A 5 to 7 cms cut is made on the left side of the chest, between the ribs (as seen above). The Da Vinci Robotic system is often used to take the Internal Mammary Artery (IMA) from the chest wall. This technique avoids rib spreading, thus reducing postoperative pain and wound-related complications.</p>

                <p><b>Who Is It For?</b></p>
                <p>Most patients with coronary artery disease can be treated by MICS-CABG with few exceptions. Patients with coronary artery disease (CAD) should be carefully assessed by a surgeon specialising in Minimally Invasive Cardiac Surgery, only then should they undertake the MICS – CABG procedure.</p>
                <p><b>BENEFITS</b></p>

                <p><b>●	The use of arterial conduits increases the durability of the bypass grafts</b></p>
                <p><b>●	Minimal trauma and pain</b></p>
                <p><b>●	Minimal blood loss and related complications</b></p>
                <p><b>●	Minimal risk of wound infection</b></p>
                <p><b>●	Short hospital stay – 2-4 days average</b></p>
                <p><b>●	Quick recovery to normal activity – 2-4 weeks average</b></p>

                <p><b>Minimally Invasive– Hybrid Coronary Revascularisation Surgery (MIHCR)</b></p>

                <p>Minimally Invasive Hybrid Coronary Revascularisation is a combination of Minimally Invasive Coronary Artery Bypass Graft surgery (MICS-CABG) and Angioplasty (stent insertion). This innovative procedure is used to treat patients with multi-vessel coronary artery disease, who may otherwise require conventional open CABG. This Minimally Invasive approach avoids splitting of the central chest bone (sternotomy) and long cuts in the legs. Minimally Invasive – Hybrid Coronary Revascularisation (MIHCR) surgery is now increasingly performed in the western world.</p>

                <p>Dr Baburaj routinely performs this surgery, through a unique 2 stage approach. The consistent support between surgeons and cardiologists that this procedure demand has been pivotal to the success achieved by Dr Baburaj and his fellow cardiologists.</p>

                <p>During this procedure MICS-CABG is performed first, followed by Angioplasty (stent insertion), after 24-48 hours.</p>

                <p><b>Advantages</b></p>

                <p>Minimally Invasive approach, combining the best of both long term outcomes from surgery and angioplasty. *</p>

                <p>Patients with multi-vessel disease, poor heart function, additional medical problems and the elderly can avoid conventional open CABG and complications thereof</p>

                <p><b>●	The use of arterial conduits increases the durability of the bypass grafts</b></p>
                <p><b>●	Minimal trauma and pain</b></p>
                <p><b>●	Minimal blood loss and related complications</b></p>
                <p><b>●	Minimal risk of wound infection</b></p>
                <p><b>●	Short hospital stay – 3-4 days average</b></p>
                <p><b>●	Quick recovery to normal activity – 2-3 weeks average</b></p>
                <p><b>●	The use of arterial conduits increases the durability of the bypass grafts</b></p>


                <p style="font-size: 30px;">Minimally Invasive Aortic Valve Replacement</p>
                <p><b>Minimally Invasive Aortic valve replacement can be performed through Minimally</b></p>
                <p><b>Invasive Cardiac Surgery (MICS) or through a catheter-based Trans Aortic Valve Implantation (TAVI).</b></p>

                <p style="font-size: 28px;">How is it Performed?</p>

                <p><b>There are two approaches to perform minimally invasive aortic valve replacement:</b></p>

                <p>
                    1.	Mini sternotomy – is performed through a small cut in the upper part of the chest bone (sternum). This avoids a full split of the sternum, enabling a much quicker recovery than traditional full sternotomy. Almost all patients requiring aortic valve replacements can be operated through this approach.
                </p>

                <p>
                    2.	Right anterior thoracotomy – is when valve replacement is performed through a small 5-7 cm cut, made on the right side of the chest. Recovery is even quicker than a mini sternotomy since it avoids the splitting of any bone. However, not all patients have the favourable anatomy required to undergo this procedure.
                </p>

                <p style="font-size: 28px;">Benefits</p>

                <p><b>●	Minimal trauma and pain</b></p>
                <p><b>●	Minimal blood loss and related complications</b></p>
                <p><b>●	Minimal risk of wound infection</b></p>
                <p><b>●	Short hospital stay – 2-4 days average</b></p>
                <p><b>●	Quick recovery to normal activity – 2-4 weeks average</b></p>

                <p style="font-size: 35px;">Trans aortic valve implantation – TAVI</p>

                <p style="font-size: 28px;">How it is performed?</p>

                <p>This is the least invasive method to treat patients with aortic valve stenosis (blockage). This procedure is recommended for patients with multiple medical problems or for the elderly, who may be at high risk for surgical valve replacement.</p>
                <p>During this procedure, a tissue valve is passed through a catheter (fine tube) into the heart. The valve is then implanted over the native existing aortic valve of the patient.</p>


                <p style="font-size: 30px;"><b>Minimally Invasive Mitral Valve Surgery</b></p>
                <p><p style="font-size: 28px;">Introduction</p></p>
                <p>Minimally Invasive mitral valve surgery is generally preferred over open mitral valve surgery, for patients requiring intervention. Both repair and replacement of the mitral valve can be performed through a minimally invasive approach.</p>
                <p style="font-size: 28px;">Repair Vs Replacement</p>
                <p>Whilst replacement surgeries are often much easier for a surgeon to perform, mitral valve repair, where possible, is much more beneficial for the patient. Repairing the patient’s own valve means that the implantation of an artificial valve is completely avoided, therefore the patient does not require any anticoagulation (blood-thinning) medication. Mitral valve replacement also helps maintain a strong function of the left ventricle (main pumping chamber of the heart). Where replacement of the valve would require the implantation of a mechanical or tissue valve (ref page 14), the repair is simply the surgical correction of the patient’s own, existing valve.</p>

                <p>Performing Minimally Invasive mitral valve repair surgery requires high levels of training and experience, with only a handful of surgeons across India having mastered this procedure. Dr Baburaj is well experienced in performing Minimally Invasive Mitral valve repair surgery, with consistently good outcomes.</p>

                <p style="font-size: 28px;">How is it performed?</p>

                <p>A 5 -7 cm inch cut is made on the right side of the chest (right thoracic cavity, shown). Surgery is performed using the assistance of either a video thoracoscope or the Davinci Robotic system. If the valve is significantly damaged or thickened (with calcification), it may not be repairable. In these circumstances, a replacement using a tissue or mechanical valve would be necessary.</p>

                <p style="font-size: 28px;">Minimally invasive mitral valve repair/ replacement – advantages</p>

                <p>
                    Minimal trauma and pain
                </p>
                <p>
                    Minimal blood loss and related complications
                </p>
                <p>
                    Minimal risk of wound infection
                </p>
                <p>
                    Short hospital stay – 3-4 days average
                </p>
                <p>   Quick recovery to normal activity – 2-3 weeks average</p>

            </div>
        </section>


        @*<section>
            <div class="container">
                <h2>Services</h2>
                <p class="wrapper-gallery-h">Better Treatment</p>
                <center><hr class="ti"></center>

                


            </div>
        </section>*@

        @*<section id="features">
            <div class="features-inner">
                <div class="features-image"><img src="./img/her.png" /></div>
                <ul class="features-list list-1">
                    <li class="features-item" data-src="./img/dd.png">
                        <h2 class="features-item-header">About Heart Attacks</h2>
                        <center><hr class="ti"></center>
                        <p class="features-item-text">I don’t mean to say that I know, of my own knowledge, what there is particularly dead about a door-nail.</p>
                    </li>
                    <li class="features-item" data-src="./img/dd.png">
                        <h2 class="features-item-header">Warning Signs of a Heart Attack</h2>
                        <center><hr class="ti"></center>
                        <p class="features-item-text">I don’t mean to say that I know, of my own knowledge, what there is particularly dead about a door-nail.</p>
                    </li>
                    <li class="features-item" data-src="./img/dd.png">
                        <h2 class="features-item-header">Angina (Chest Pain)</h2>
                        <center><hr class="ti"></center>
                        <p class="features-item-text">I don’t mean to say that I know, of my own knowledge, what there is particularly dead about a door-nail.</p>
                    </li>
                </ul>
                <ul class="features-list list-2">
                    <li class="features-item" data-src="./img/dd.png">
                        <h2 class="features-item-header">Understand Your Risks to</h2>
                        <center><hr class="ti"></center>
                        <p class="features-item-text">I don’t mean to say that I know, of my own knowledge, what there is particularly dead about a door-nail.</p>
                    </li>
                    <li class="features-item" data-src="./img/dd.png">
                        <h2 class="features-item-header">Prevent a Heart Attack</h2>
                        <center><hr class="ti"></center>
                        <p class="features-item-text">I don’t mean to say that I know, of my own knowledge, what there is particularly dead about a door-nail.</p>
                    </li>
                    <li class="features-item" data-src="./img/dd.png">
                        <h2 class="features-item-header">Diagnosing a Heart Attack</h2>
                        <center><hr class="ti"></center>
                        <p class="features-item-text">I don’t mean to say that I know, of my own knowledge, what there is particularly dead about a door-nail.</p>
                    </li>


                </ul>

            </div>
            <center> <a href=""><button class="btn btn-outline-light btn-lg animated slideInUp" type="button">More Info</button></a></center>
        </section>*@





        <!-- .....................service section.............. -->






    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        window.onscroll = function () { myFunction() };

        var header = document.getElementById("header_bottom");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

    </script>


    <script>
        // optional
        $('#blogCarousel').carousel({
            interval: 5000
        });
    </script>



    <!-- ...................service..................section -->


    <script>
        $('.features-item').on('click', function () {
            var $this = $(this);
            var imgsrc = $this.attr('data-src');

            $('.features-image img').attr('src', imgsrc);
        });</script>


</body>
</html>

