@page
@model Pristinerealty.Web.Pages.ServicesModel
@{ ViewData["Title"] = "Services"; }

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="elementor-divider">
                    <span class="elementor-divider-separator">
                        <img src="img/line.png" width="80">   OUR SERVICES
                    </span>
                </div>

                <h2>
                    Pristine Realty<br> The Highest Quality
                </h2>
                <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>

                <p>Turnkey Interior And Exterior Designing Services In The UAE; Making The Best Out Of Your Spaces, From Concept To Installation.</p>

                @*<button class="viewbuton">More Info  &nbsp; &nbsp; <i class="fa-solid fa-arrow-right"></i></button>*@

            </div>

            <div class="col-md-8 pt-3">
                <img src="img/service.jpg" width="100%">

            </div>

        </div>

    </div>
</section>


