@page
@model Pristinerealty.Web.Pages.UpdatesModel
@{ ViewData["Title"] = "Updates page"; }
<section class="rocket   pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h1>Updates</h1>
                <span class="under">
                    <hr>
                </span>
                <p>Located in the heart of Calicut city, and one of the oldest hospitals in the region, the hospital was established in 1940 by Late Dr. P. Balram. From it's early years, the hospital and it's doctors focused on providing access to medical care to the common man, placing service to the poor of utmost importance. His sons, Late Dr. P. Rajendran, Late Dr. P Mohanraj and Late Dr. P. Ramesh Kumar continued the tradition. The hospital is an integral part of the history of Calicut.</p>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="updates-back">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pb-3 pt-3">
                <div class="card">
                    <img class="card-img-top" src="img/prostrate.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title border-bottom pb-3">Urologys <a href="#" class="float-right d-inline-flex share"></a></h5>
                        <p class="card-text">Urology is a branch of medicine that focuses on medical conditions of the male and female urinary tract systems. The urologist is a medical professional that specializes in the urinary system. In ancient times, doctors used to examine the urine of a patient for clues about their illness.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 pt-3">
                <div class="card">
                    <img class="card-img-top" src="img/piles.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title border-bottom pb-3">Piles <a href="#" class="float-right d-inline-flex share"></a></h5>
                        <p class="card-text">Piles is another term for hemorrhoids. Hemorrhoids are collections of inflamed tissue in the anal canal. They contain blood vessels, support tissue, muscle, and elastic fibers. Many people have piles, but the symptoms are not always obvious.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 pt-3">
                <div class="card">
                    <img class="card-img-top" src="img/brochureurology2.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title border-bottom pb-3">Eurology <a href="#" class="float-right d-inline-flex share"></a></h5>
                        <p class="card-text">Urology is a branch of medicine that focuses on medical conditions of the male and female urinary tract systems. The urologist is a medical professional that specializes in the urinary system. In ancient times, doctors used to examine the urine of a patient for clues about their illness.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 pt-3">
                <div class="card">
                    <img class="card-img-top" src="img/physiotherapy.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title border-bottom pb-3">Physiotherapy <a href="#" class="float-right d-inline-flex share"></a></h5>
                        <p class="card-text">Physical therapy, also known as physiotherapy, is one of the allied health professions. It is provided by physical therapists who promote, maintain, or restore health through physical examination, diagnosis, prognosis, patient education, physical intervention, rehabilitation, disease prevention, and health promotion.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 pt-3">
                <div class="card">
                    <img class="card-img-top" src="img/brochurekeyholesurgery.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title border-bottom pb-3">Keyholesurgery <a href="#" class="float-right d-inline-flex share"></a></h5>
                        <p class="card-text">Laparoscopy is an operation performed in the abdomen or pelvis using small incisions with the aid of a camera. The laparoscope aids diagnosis or therapeutic interventions with a few small cuts in the abdomen.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 pb-3 pt-3">
                <div class="card">
                    <img class="card-img-top" src="img/physio.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title border-bottom pb-3">Physio <a href="#" class="float-right d-inline-flex share"></a></h5>
                        <p class="card-text">Physical therapy, also known as physiotherapy, is one of the allied health professions. It is provided by physical therapists who promote, maintain, or restore health through physical examination, diagnosis, prognosis, patient education, physical intervention, rehabilitation, disease prevention, and health promotion</p>
                    </div>
                </div>
            </div>
        </div>
        <p>Located in the heart of Calicut city, and one of the oldest hospitals in the region, the hospital was established in 1940 by Late Dr. P. Balram. From it's early years, the hospital and it's doctors focused on providing access to medical care to the common man, placing service to the poor of utmost importance. His sons, Late Dr. P. Rajendran, Late Dr. P Mohanraj and Late Dr. P. Ramesh Kumar continued the tradition. The hospital is an integral part of the history of Calicut.</p>
    </div>
</section>